{% extends 'frame.html' %}

{% block j_title %}
<title>About JAGDSE</title>
{% endblock %}

{% block header %}
<header class="masthead" id="about">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>About JAGDSE</h1>
                    <h2 class="subheading">What is - Just Another Gosh Darn Search Engine?</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <blockquote class="blockquote">The important thing is not to stop questioning. Curiosity has its own reason for existing.</blockquote>
                <blockquote class="blockquote">- Albert Einstein</blockquote>
                <p>
                    For many who have had questions and ask those around us, the common response is to Google it. No matter the subject,
                    just Google it. But what if you don't like Google? What if you prefer Tastedive or Yahoo? They have no response.
                </p>

                <h2 class="section-heading rainbowify">Team Rainbow Unicorn Barf presents: </h2>
                <h3>Just Another Gosh Darn Search Engine</h3>

                <p></p>
                <p>
                    The best search engine there is. Definitely not biased.
                </p>
            </div>
        </div>
    </div>
</article>
<article>
    <div class="container">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="section-heading">How to use JAGDSE</h2>
            <p></p>
            <p>
                Simply enter your search query into the text input,
                select your search destination (where you want your
                query to go), and click search! The results will be
                displayed below the search inputs!
            </p>
        </div>
    </div>
</article>
{% endblock %}